.matrix {
    padding:  12px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}

.matrixA {
    border: 3px solid #0000ff;
}

.matrixB {
    border: 3px solid #ff0000;
}

.none {
    border: 3px solid #ffffff
}